<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <!-- The following one starts some task schedules: -->
  <servlet>
    <servlet-name>cacheUpdateDaemon</servlet-name>
    <servlet-class>fr.uparis10.miage.ldap.server.run.CacheUpdateDaemon</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <!-- Standard Business Logic servlets: -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>fr.uparis10.miage.ldap.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/LDAPBrowser/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>groupServlet</servlet-name>
    <servlet-class>fr.uparis10.miage.ldap.server.service.GroupServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>groupServlet</servlet-name>
    <url-pattern>/LDAPBrowser/group</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>personServlet</servlet-name>
    <servlet-class>fr.uparis10.miage.ldap.server.service.PersonServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>personServlet</servlet-name>
    <url-pattern>/LDAPBrowser/person</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>organizationServlet</servlet-name>
    <servlet-class>fr.uparis10.miage.ldap.server.service.OrganizationServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>organizationServlet</servlet-name>
    <url-pattern>/LDAPBrowser/organization</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>orgUnitServlet</servlet-name>
    <servlet-class>fr.uparis10.miage.ldap.server.service.OrgUnitServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>orgUnitServlet</servlet-name>
    <url-pattern>/LDAPBrowser/orgunit</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LDAPBrowser.html</welcome-file>
  </welcome-file-list>
	

  <servlet>
	<servlet-name>jUnitHostImpl</servlet-name>
	<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/LDAPBrowser/junithost/*</url-pattern>
	</servlet-mapping>
</web-app>
